.profile {
  width: 100%;
  min-height: 120px;
  margin: 0 auto 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .profile {
    width: 88.13%;
    margin: 0 auto 37px;
    flex-direction: column;
  }
}