.form__save {
  width: 100%;
  min-height: 50px;
  display: inline-block;
  color: #fff;
  padding: 0 12px;
  margin: 47px 0 0;
  padding: 0;
  text-decoration: none;
  background: black;
  font-size: 18px;
}

.form__save:hover {
  border-radius: 2px;
  opacity: 0.8;
  background: #000;
}

@media screen and (max-width: 500px) {
  .form__save {
    max-width: 238px;
    min-height: 46px;
    font-size: 14px;
    margin: 43px 0 0;
  }
}