.profile__subtitle {
  width: 100%;
  margin: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 900px) {
  .profile__subtitle {
    width: 100%;
    margin: 0 0 33px;
    text-align: center;
    font-size: 14px;
  }
}