.profile__title {
  margin: 0 0 5px;
  min-height: 0;
  font-size: 42px;
  line-height: normal;
  font-style: normal;
  font-weight: 500;
}

@media screen and (max-width: 900px) {
  .profile__title {
    margin: 0 3px 10px 28px;
    font-size: 27px;
    text-align: center;
  }
}