.profile__add-button {
  width: 17%;
  min-height: 50px;
  margin: 33px 0 0 228px;
  padding: 0;
  background-image: url(../../../images/Add-Button.svg);
  background-color: #000;
  background-repeat: no-repeat;
  background-size: 150px 50px;
}

.profile__add-button:hover {
  opacity: 0.6;
  background-color: #000;
}

@media screen and (max-width: 900px) {
  .profile__add-button {
    width: 100%;
    height: 16px;
    margin: auto;
    background-image: url(../../../images/Vector.svg);
    background-size: 16px 16px;
    background-position: center;
    border: 2px solid #fff;
  }
}