.form__close {
  min-width: 32px;
  min-height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url(../../../images/Close-Icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(0, 0, 0, 0);
  transition: 2ms;
  z-index: 5;
}

.form__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 660px) {
  .form__close {
    top: -35px;
    right: 0;
    min-width: 20px;
    min-height: 20px;
  }
}