.profile__info {
  width: 40%;
  margin: 18px 0 0 30px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 900px) {
  .profile__info {
    width: 100%;
    margin: 26px 0 0;
    display: grid;
    grid-area: "profile__title profile__button"
      "profile__subtitle profile__subtitle";
  }
}