.element {
  max-width: 282px;
  min-height: 361px;
  margin: 0 17px 20px 0;
  overflow: hidden;
  background-color: white;
  color: black;
  border-radius: 11px;
}

.element:nth-child(3n) {
  margin-right: 0;
}

@media screen and (max-width:900px) {
  .element {
    min-height: 361px;
    margin: 0 auto 19px;
  }
}

.element:nth-child(3n) {
  margin: 0 0 19px;
}

@media screen and (max-width:350px) {
  .element {
    margin: 0 0 20px;
  }

  .element:nth-child(3n) {
    margin: 0 0 20px;
  }
}