.popup-photo__caption {
  margin: auto;
  display: block;
  text-align: center;
  width: 10%;
  color: #fff;
  padding: 10px 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}